<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recommendation System</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Webcam Capture</h1>
        <video id="webcam" width="1280" height="720" autoplay></video>
        <br>
        <button id="captureBtn">Capture</button>

        <h3>Captured Image:</h3>
        <canvas id="canvas" width="1280" height="720" style="display:none;"></canvas>
        <form id="upload-form" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="image" id="image-input">
            <button type="submit">Send to Server</button>
        </form>

        <script>
            const video = document.getElementById('webcam');
            const canvas = document.getElementById('canvas');
            const snap = document.getElementById('snap');
            const imageInput = document.getElementById('image-input');

            

            const constraints = {
                video: {
                    facingMode: "user",
                    width: { ideal: 1280 },
                    height: { ideal: 720}
                }};

            navigator.mediaDevices.getUserMedia(constraints)
                .then(stream => {
                    video.srcObject = stream;

                    video.onloadedmetadata = () => {
                        console.log(`Actual resolution: ${video.videoWidth}x${video.videoHeight}`);

                        canvas.width = video.videoWidth;
                        canvas.height = video.videoHeight;
                    };
                })
                .catch(err => {
                    console.log("ERROR ACCESSING WEBCAM", err);
                });
            
            snap.addEventListener("click", () => {
                const context = canvas.getContext('2d');
                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                const dataURL = canvas.toDataURL('image/jpeg');
                imageInput.value = dataURL;
            });
        </script>
    </body>
</html>