<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recommendation System</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Webcam Capture</h1>

        <video id="video" width="400" autoplay></video>
        <canvas id="canvas" style="display: none;"></canvas>
        <br>
        <form id="upload-form" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="image" id="image-input">
          <button type="button" id="predict" data-action="/process_image">Predict</button>
        </form>
        {% if image_data %}

            <h2>Prediction</h2>
            <img src="data:image/jpeg;base64,{{ output_img }}" width="300" alt="processed image">
        
            <h2>Prediction</h2>
            <p>{{ prediction }}</p>

            <h2>RGB</h2>
            <p>{{ rgb_prediction }}</p>

            <h2>HEX</h2>
            <p>{{ hex_prediction }}</p>
        {% endif %}

        <script>
            const video = document.getElementById('video');
            const canvas = document.getElementById('canvas');
            const imageInput = document.getElementById('image-input');
            const form = document.getElementById('upload-form');
          
            const constraints = {
              audio: false,
              video: {
                width: { ideal: 1280 },
                height: { ideal: 720 },
                facingMode: "user"
              }
            };
          
            navigator.mediaDevices.getUserMedia(constraints)
              .then((stream) => {
                video.srcObject = stream;
          
                // Wait for video metadata to be loaded
                video.onloadedmetadata = () => {
                  // resize canvas to match video
                  const scale = 0.25;
                  canvas.width = video.videoWidth * scale;
                  canvas.height = video.videoHeight * scale;
                };
              })
              .catch((err) => {
                console.error("Error accessing webcam:", err);
              });
        
          function handleCaptureClick(event) {
            const target = event.target;
            const action = target.getAttribute('data-action');
        
            if (!action) return;
        
            const context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
        
            const dataURL = canvas.toDataURL('image/jpeg');
            imageInput.value = dataURL;
        
            form.action = action;
            form.submit();
          }
        
          document.querySelectorAll('button[data-action]').forEach(button => {
            button.addEventListener('click', handleCaptureClick);
          });
        </script> 
    </body>
</html>
        